:root {
    --primary-color: #2596be;
    --secondary-color: #0080ff;
    --accent-color: #ff9900;
    --text-dark: #333333;
    --text-light: #666666;
    --bg-light: #f9f9f9;
    --white: #ffffff;
    --max-width: 1200px;
}

section[id],
footer[id] {
    scroll-margin-top: 100px;

}

.main-page-container {

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    background-color: #eee;

}

.main-page-header {
    background-color: var(--white);
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;

    top: 0;
    z-index: 1000;
    padding: 0.6rem 0;

}

.main-page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;

}

.main-page-header-container li {
    cursor: pointer;

}

.main-page-header-container .logo h1 {
    font-size: 30px;
    color: var(--primary-color);
    margin: 0;
}

.main-page-header-container nav {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.main-page-header-container img {
    cursor: pointer;
    width: 125px;
}

.main-page-header-container nav ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-page-header-container nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.main-page-main {
    width: 100%;
}

.main-page-seccion-principal,
.main-page-seccion-1,
.main-page-seccion-2,
.main-page-seccion-3,
.main-page-seccion-4,
.main-page-seccion-5,
.main-page-seccion-6,
.main-page-seccion-contacto,
.main-page-footer {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.main-page-seccion-1 .content {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-page-seccion-1 {
    background-color: #f5f7f8;

    color: var(--white);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

/*
.main-page-seccion-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
*/
.main-page-seccion-1>* {
    position: relative;
    z-index: 1;
}


.main-page-seccion-1 h2,
.main-page-seccion-1 p {
    color: #000;
    position: relative;
    z-index: 2;
}

.main-page-seccion-1 h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main-page-seccion-1 p {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
}

.quienes-somos-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.quienes-somos-container div {
    width: 20%;
    height: 80%;
    border-radius: 16px;
    padding: 24px;

    background-color: #fff;

    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.quienes-somos-container h3 {
    color: #1a252f;
    font-weight: 100;
    font-size: 1.2rem;
    font-weight: 600;
}

.quienes-somos-container p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.6;
    opacity: 0.85;
    color: rgba(0, 0, 0, 0.85);
}

.quienes-somos-container ul {
    margin-top: 15px;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.quienes-somos-container li {
    color: rgba(0, 0, 0, 0.85);
    margin-left: 15px;
    font-size: 1rem;
    text-align: left;
}

.texto-destacado {
    color: #f2a900;
    font-weight: 600;
}


.main-page-seccion-principal {
    background: none;
    color: var(--white);
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fondo-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

}


.slide-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease-in-out, transform 6s linear;
    transform: scale(1);

}


.slide-bg.active {
    opacity: 1;
    transform: scale(1.05);
    transition: opacity 1.5s ease-in-out, transform 6s linear;
}


.overlay-oscura {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;

}


.contenido-principal {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.contenido-principal img {
    width: 250px;
    max-width: 80%;
    filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.6));
    margin-bottom: 20px;
}

.slogan-logo-seccion-principal {
    font-size: 1.1rem;
    font-weight: 500;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 15px;
}

.slogan-logo-seccion-principal h4 {
    font-size: 1rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    padding-left: 15px;
    font-weight: 300;
}


/* seccion 2 */

.main-page-seccion-2 .container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
}


.main-page-seccion-2 {
    background-image:
        url("/planeta.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-dark);

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}


.main-page-seccion-2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.main-page-seccion-2>* {
    position: relative;
    z-index: 1;
}


.main-page-seccion-2 .areas-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    width: 100%;
    gap: 32px;
}

.main-page-seccion-2 .area-card {
    background: var(--bg-light);
    padding: 32px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);
    border-top: 3px solid #2596be;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.main-page-seccion-2 .area-card h3 {
    color: #2596be;
    font-size: 1rem;
    margin-bottom: 16px;
    font-weight: 600;
}

.main-page-seccion-2 .area-card ul {
    list-style: none;
    padding: 0;
    margin: 0 0 24px 0;
}

.main-page-seccion-2 .area-card li {
    font-size: 0.8rem;
    line-height: 1.3;
    margin-bottom: 8px;
    opacity: 1;
}

.main-page-seccion-2 .area-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.22);
}


/* seccion 3, mercados y clientes potenciales */

.main-page-seccion-3 {
    min-height: 100vh;
    background-color: #f5f7f8;

}

.main-page-seccion-3 .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    min-height: 100vh;
}


.mercados-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    width: 100%;
}

.mercado-item {
    background: #ffffff;
    height: 200px;
    padding: 32px 24px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 12px;

    border: 1px solid transparent;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.mercado-item .mercado-icon {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--accent-color);

}

.mercado-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    border-top-color: var(--accent-color);
}

/* seccion 4, como lo hacemos */

.main-page-seccion-4 {
    padding: 100px 0;
    background-color: var(--white);

    background-image:
        url("/manos.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.main-page-seccion-4::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 0;
}


.main-page-seccion-4>* {
    position: relative;
    z-index: 1;
}


.main-page-seccion-4 .container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
}




.intro-block {
    max-width: 600px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.intro-block p {
    font-size: 0.8rem;
    line-height: 1.6;
    color: #ccc;

    font-weight: 400;
}

.intro-block .texto-destacado {
    color: var(--primary-color);

    font-weight: 700;
}


.pilares-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 40px;
    max-width: 750px;
    margin: 0 auto;
}


.pilar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    background-color: var(--bg-light);
    border-left: 4px solid transparent;
    height: 125px;

}

.pilar-card:hover {
    transform: translateX(10px);
    /* Movimiento lateral sutil */
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-left-color: var(--accent-color);

}

.pilar-card h3 {
    font-size: 0.9rem;
    color: var(--text-dark);
    margin-bottom: 5px;
    font-weight: 700;
}

.pilar-card p {
    font-size: 0.65rem;
    line-height: 1.2;
    color: var(--text-light);
    margin: 0;
}

/* seccion proyectos*/

.main-page-seccion-5 {
    background-color: #f4f6f9;
    color: var(--text-dark);
}

.main-page-seccion-5 .container {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
}

.proyectos-galeria {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    background-color: #ddd;
}

.proyectos-galeria .slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(1.05);
    transition: opacity 1s ease-in-out, transform 9s ease;
    z-index: 1;
}

.proyectos-galeria .slide-bg.active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

.proyectos-galeria .slide-bg::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    z-index: 1;
}


.info-proyecto {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    z-index: 3;
    text-align: left;
    color: white;
}

.info-proyecto h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--accent-color);
}

.info-proyecto .potencia {
    font-size: 1.2rem;
    font-weight: 600;
    color: #e0e0e0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.info-proyecto .ubicacion {
    font-size: 1rem;
    color: #ccc;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 8px;
}

.flecha-carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(2px);
}

.flecha-carrusel:hover {
    background-color: var(--accent-color);
    transform: translateY(-50%) scale(1.1);
}

.flecha-izquierda {
    left: 20px;
}

.flecha-derecha {
    right: 20px;
}


/* footer */

.main-page-footer {
    background-color: #1a252f;
    /* Un gris azulado oscuro muy profesional */
    color: #b0b0b0;
    /* Texto gris claro para que no canse la vista */
    padding: 80px 0 0 0;
    font-size: 0.8rem;
    width: 100%;
    height: 60%;
}

.main-page-footer .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    background: none;
    height: 60%;
}

.main-page-footer .footer-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-page-footer .footer-col h3 {
    color: var(--white);
    font-size: 0.9rem;
    margin-bottom: 25px;
    font-weight: 600;
    position: relative;
}


.main-page-footer .footer-col h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 25px;
    height: 1px;
    background-color: var(--accent-color);
}

.main-page-footer .footer-col p {
    color: #b0b0b0;
    font-size: 0.7rem;
}

.main-page-footer .footer-logo {
    width: 150px;
    margin-bottom: 1rem;
    opacity: 0.95;
}

.main-page-footer .footer-logo span {
    color: var(--primary-color);
}


.main-page-footer .links-col ul {
    list-style: none;
    padding: 0;
}

.main-page-footer .links-col li {
    font-size: 0.7rem;
    cursor: pointer;
    margin-bottom: 12px;
}

.main-page-footer .links-col a {
    text-decoration: none;
    color: #b0b0b0;
    transition: color 0.3s ease, padding-left 0.3s ease;
}

.main-page-footer .links-col a:hover {
    color: var(--accent-color);
    padding-left: 5px;
}

.main-page-footer.contact-list {
    list-style: none;
    padding: 0;
}

.main-page-footer .contact-list li {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.main-page-footer .contact-list i {
    color: var(--primary-color);
    font-size: 0.7rem;
    margin-top: 4px;
}

.main-page-footer .contact-list a {
    color: #b0b0b0;
    text-decoration: none;
    transition: color 0.3s;
}

.main-page-footer .contact-list a:hover {
    color: var(--white);
}


.main-page-footer .social-icons {
    display: flex;
    gap: 15px;

}

.main-page-footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
}

.main-page-footer .icon-footer {
    font-size: 1.2rem;
    color: var(--white);
}

.main-page-footer .social-link:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
}

.main-page-footer .footer-bottom {
    padding: 25px 0;
    text-align: center;
    font-size: 0.85rem;
    color: #6c757d;
}

/* seccion contacto */
.main-page-seccion-contacto .container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
}

.main-page-seccion-contacto {
    background-image:
        url("/fondo-contacto.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;

    color: var(--text-dark);

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.main-page-seccion-contacto::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 0;
}

.main-page-seccion-contacto>* {
    position: relative;
    z-index: 1;
}

.main-page-seccion-contacto .contacto-subtitulo {
    font-size: 1rem;
    line-height: 1.6;
    color: #e0e0e0;
    font-weight: 400;
    margin-bottom: 3rem;
    max-width: 700px;


}


.main-page-seccion-contacto .contacto-extra-info {
    margin-top: 25px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    font-size: 0.8rem;

    justify-content: center;
}

.main-page-seccion-contacto .info-item {
    color: #ffffff;

    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);

    padding: 10px 20px;
    border-radius: 30px;
    backdrop-filter: blur(5px);
}

.btn-whatsapp-gigante {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.main-page-seccion-contacto .contacto-extra-info {
    color: var(--bg-light);
}

/* titulo de secciones */

.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #1f2a30;

    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    margin-top: 5px;
    background-color: var(--accent-color);
}

.main-page-seccion-2 .section-title,
.main-page-seccion-4 .section-title,
.main-page-seccion-contacto .section-title {
    color: #eee;
}

.menu-icon {
    display: none;
    cursor: pointer;
    color: var(--primary-color);
}

.menu-icon svg {
    font-size: 2.5rem;
}

.btn-wsp-flotante {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #25D366;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 3000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-wsp-flotante:hover {
    transform: scale(1.1);

    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    background-color: #20BA56;
}


/* Media Query: 1200px */
@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .main-page-header-container .logo {
        width: 220px;
    }
}

/* Media Query Unificado: 768px */
@media (max-width: 768px) {


    .container,
    .main-page-seccion-1 .content,
    .main-page-seccion-2 .container,
    .main-page-seccion-4 .container,
    .main-page-seccion-contacto .container {
        height: auto !important;
        /* Deja que crezca lo que necesite */
        min-height: auto;
        /* Resetea mínimos forzados si molestan */
        padding-top: 60px;
        /* Espacio arriba para que no se pegue */
        padding-bottom: 60px;
        /* Espacio abajo para empujar a la siguiente sección */
    }

    .quienes-somos-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        gap: 10px;
        margin-top: 0;
    }

    .main-page-seccion-1 h2 {
        margin-bottom: 50px;
    }

    .quienes-somos-container div {
        max-width: 300px;
        height: 200px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        width: 90%;
        margin-bottom: 10px;
        padding: 20px;

    }

    .quienes-somos-container h3 {
        font-size: 1rem;
    }

    .quienes-somos-container p {
        font-size: 0.7rem;
    }

    .quienes-somos-container ul {
        margin-top: 10px;
        gap: 5px;
    }

    .quienes-somos-container li {
        margin-left: 15px;
        font-size: 0.7rem;
        text-align: left;
    }

    .container {
        padding: 0 15px;
        width: 100%;
    }

    .section-title {
        font-size: 1.5rem !important;
    }

    .main-page-seccion-2 .areas-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
        gap: 32px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .main-page-seccion-2 .area-card {
        height: 200px;
        padding: 26px;
        border-top: 2px solid #2596be;
        align-self: center;
    }

    .main-page-seccion-2 .area-card h3 {
        font-size: 1rem;
    }

    .main-page-seccion-2 .area-card ul li {
        font-size: 0.7rem;
    }

    .main-page-seccion-3 h2 {
        margin-bottom: 0;
    }

    .main-page-seccion-3 .mercados-grid {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        padding: 32px;
    }

    .main-page-seccion-3 .mercado-item,
    .pilares-grid .pilar-card {
        height: 150px;
        width: 250px;
    }



    .areas-grid,
    .pilares-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .btn-whatsapp-gigante {
        width: 100%;
        font-size: 1rem;
        padding: 15px;
    }

    .contacto-extra-info {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .main-page-footer .footer-col {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }

    .main-page-footer .footer-col h3::after {
        margin: 0 25%;
        padding: 0;
    }

    .main-page-seccion-principal img {
        width: 200px;
    }

    .main-page-header .logo {
        width: 125px;
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
        z-index: 2000;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.98);
        transition: 0.5s all ease;
        z-index: 1500;
        gap: 40px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li a {
        font-size: 1.5rem;
    }

    .btn-wsp-flotante {
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
    }

    .btn-wsp-flotante svg {
        font-size: 35px !important;
    }

    /* seccion proyectos */
    .main-page-seccion-5 .container {
        width: 100%;
        padding: 10px;
    }

    .proyectos-galeria {
        height: 400px;
        border-radius: 12px;
    }

    .info-proyecto {
        bottom: 20px;
        left: 20px;
        right: 20px;
    }

    .info-proyecto h3 {
        font-size: 1.5rem;
    }

    .info-proyecto .potencia {
        font-size: 1rem;
    }

    .flecha-carrusel {
        width: 35px;
        height: 35px;
    }

    .flecha-carrusel svg {
        font-size: 1.2rem;
    }

    .flecha-izquierda {
        left: 10px;
    }

    .flecha-derecha {
        right: 10px;
    }

}